<div class="relative min-h-160 lg:min-h-0 bg-surface-0 dark:bg-surface-900 flex lg:flex-row flex-col">
  <div class="flex lg:flex lg:flex-row flex-col justify-center md:justify-normal h-full flex-1">

    <!-- Hero -->
    <div class="relative flex-1 z-20 flex items-center">
      <div class="flex items-center justify-center h-full">
        <div class="w-full {{ isFullWidth ? '' : 'max-w-3xl' }} px-6 py-12 lg:p-12 xl:p-16 text-center lg:text-left">
          @if (leftBodyTemplate) {
            <!-- Left body template -->
            <ng-container *ngTemplateOutlet="leftBodyTemplate"></ng-container>
          } @else {
            @if (title() || subtitle()) {
              <app-hero-header [title]="title()" [subtitle]="subtitle()"></app-hero-header>
            }
            @if (description()) {
              <app-hero-description [description]="description()"></app-hero-description>
            }
            <app-button-list
              [direction]="'row'"
              [justify]="'start'"
              [buttons]="[
                { label: 'Learn More', type: 'button', icon: 'pi pi-info-circle' },
                { label: 'Live Demo', type: 'button', outlined: true, icon: 'pi pi-play' }
              ]"
            ></app-button-list>
          }
        </div>
      </div>
    </div>

    @if (rightBodyTemplate) {
      <!-- Right body template -->    
      <div class="absolute lg:relative inset-0 lg:inset-auto flex-1">
        <ng-container *ngTemplateOutlet="rightBodyTemplate"></ng-container>
      </div>
    } @else {
      @if (image()) {
        <div class="absolute lg:relative inset-0 lg:inset-auto flex-1">
          <div class="absolute lg:hidden inset-0 surface-900/60 dark:bg-surface-900/80 z-10"></div>
          <img
              src="{{ image() }}"
              alt="{{ title() }}"
              class="h-full w-full object-cover"
          />
          <!-- xl:[clip-path:polygon(12%_0,100%_0%,100%_100%,0_100%)]-->
        </div>
      }
    }
  </div>
</div>
