<ap-container [px]="6" [py]="20">
  <ng-template containerTemplate="center">
    <app-section-header
      [title]="title()"
      [icon]="icon()"
      [description]="description()"
    ></app-section-header>

    <ap-grid [columns]="3" [gap]="'6'" class="w-full" [items]="items()">
      <!-- Basic Plan -->
      <ng-template #itemTemplate let-item>
        <div class="w-full flex-1 p-5 flex rounded-2xl flex-col bg-surface-0 dark:bg-surface-800 hover:shadow-lg shadow-sm transition-shadow duration-300 gap-6 border border-gray-200">
          <div class="flex flex-col gap-2">
              <h4 class="text-surface-900 dark:text-surface-0 font-bold text-xl leading-tight">
                {{ item.name }}
              </h4>
              <p class="text-surface-500 dark:text-surface-400 leading-normal">
                {{ item.description }}
              </p>
          </div>

          <!-- <div class="w-full h-px bg-surface-200 dark:bg-surface-700"></div> -->

          <div class="flex items-center gap-2">
            <span class="font-bold text-2xl text-surface-900 dark:text-surface-0 leading-tight">
              {{ item.price }}
            </span>
            @if (item.per) {
            <span class="font-medium text-surface-500 dark:text-surface-400 leading-tight">
              per {{ item.per }}
            </span>
            }
          </div>

          <!-- <div class="w-full h-px bg-surface-200 dark:bg-surface-600"></div> -->

          @if (item.features.length > 0) {
          <ul class="list-none flex flex-col gap-2 flex-1">
            @for (feature of item.features; track feature) {
              <li class="flex items-center gap-2">
                <i class="pi pi-check-circle text-lg! text-green-500"></i>
                <span class="text-surface-800 dark:text-surface-100 leading-tight"> {{ feature }} </span>
              </li>
            }
          </ul>
          }
          <button pButton class="w-full">
            <span pButtonLabel>Buy Now</span>
          </button>
        </div>
      </ng-template>
    </ap-grid>
  </ng-template>
</ap-container>