<!-- <p-button
  *ngIf="isBrowser"
  [type]="type()"
  [label]="label()"
  [icon]="icon?.()"
  [iconPos]="iconPos()"
  [badge]="badge()"
  [badgeClass]="badgeClass()"
  [loading]="loading()"
  [loadingIcon]="loadingIcon()"
  [link]="link()"
  [severity]="severity()"
  [rounded]="rounded()"
  [raised]="raised()"
  [outlined]="outlined()"
  [text]="text()"
  [plain]="plain()"
  [size]="size()"
  [disabled]="disabled()"
  [tabindex]="tabindex()"
  [autofocus]="autofocus()"
  [ariaLabel]="ariaLabel()"
  [style]="style()"
  [styleClass]="styleClass()"
  (onClick)="onClick.emit()"
  (onFocus)="onFocus.emit($event)"
  (onBlur)="onBlur.emit($event)"
><ng-content></ng-content></p-button> -->

<button
  *ngIf="isBrowser"
  pButton
  [type]="type()"
  [label]="label()"
  [icon]="icon?.() || ''"
  [iconPos]="iconPos()"
  [loading]="loading()"
  [loadingIcon]="loadingIcon()"
  [severity]="severity()"
  [rounded]="rounded()"
  [raised]="raised()"
  [outlined]="outlined()"
  [text]="text()"
  [plain]="plain()"
  [size]="size()"
  [disabled]="disabled()"
  [tabindex]="tabindex()"
  [autofocus]="autofocus()"
  [ariaLabel]="ariaLabel()"
  [style]="style()"
  (onClick)="onClick.emit()"
  (onFocus)="onFocus.emit($event)"
  (onBlur)="onBlur.emit($event)"
><ng-content></ng-content></button>
